In [16]:
# NORM

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df=pd.read_csv("wine_data.csv",header=None,usecols=[0,1,2])
df.columns=['Class label', 'Alcohol', 'Malic acid']
df.head(),df.isna().sum()

(   Class label  Alcohol  Malic acid
 0            1    14.23        1.71
 1            1    13.20        1.78
 2            1    13.16        2.36
 3            1    14.37        1.95
 4            1    13.24        2.59,
 Class label    0
 Alcohol        0
 Malic acid     0
 dtype: int64)

In [19]:
df.describe()

       Class label     Alcohol  Malic acid
count   178.000000  178.000000  178.000000
mean      1.938202   13.000618    2.336348
std       0.775035    0.811827    1.117146
min       1.000000   11.030000    0.740000
25%       1.000000   12.362500    1.602500
50%       2.000000   13.050000    1.865000
75%       3.000000   13.677500    3.082500
max       3.000000   14.830000    5.800000

In [20]:
# train_test_spliting

In [21]:
x=df.iloc[:,1:3]
y=df.iloc[:,0:1]

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,random_state=0,test_size=0.3)
X_train.shape,X_test.shape

((124, 2), (54, 2))

In [23]:
# normalistaion

In [24]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)

X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [25]:
X_train_scaled.shape

(124, 2)

In [26]:
# array to DF

In [27]:
X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled=pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [30]:
np.round(X_train_scaled.describe())

       Alcohol  Malic acid
count    124.0       124.0
mean       1.0         0.0
std        0.0         0.0
min        0.0         0.0
25%        0.0         0.0
50%        1.0         0.0
75%        1.0         0.0
max        1.0         1.0

In [ ]:
# LEARNING

In [31]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
result=lr.fit(X_train_scaled,Y_train)

Y_predict=lr.predict(X_test_scaled)

E:\anaconda-2\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# accuracy

In [33]:
from sklearn.metrics import accuracy_score
a=accuracy_score(Y_test,Y_predict)
a

0.7962962962962963